@page "/"
@page "/s/{givens}"

@inject IJSRuntime JS;

<MudLayout>
    <div @ref="appbarDiv">
        <MudAppBar Elevation="1" Dense="true">
            <MudTooltip Text="@(DrawerOpen ? "Close Drawer" : "Open Drawer")">
                <MudIconButton Icon="@Icons.Material.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
            </MudTooltip>
            <MudAppBarSpacer />
            <MudText Typo="Typo.h5" Class="mudblazor-appbar-brand-text">Sudoku</MudText>
            <MudAppBarSpacer />
            <MudTooltip Text="GitHub repository">
                <MudIconButton Icon="@Icons.Custom.GitHub" Color="Color.Inherit" Link="https://github.com/dclamage/Sudoku" Target="_blank" />
            </MudTooltip>
        </MudAppBar>
    </div>
    <MudDrawer @bind-Open="@DrawerOpen" Clipped="true" Elevation="1">
        <div @ref="drawerDiv">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Solver</MudText>
            </MudDrawerHeader>
            <SolverMenu @ref="solverMenu" IndexPage="this" />
        </div>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <SudokuBoard @ref="sudokuBoard" Givens="@Givens" />
    </MudMainContent>
</MudLayout>
