@inject IWorkerFactory workerFactory
@inject ISnackbar Snackbar
@inject IJSRuntime JS;

<MudPaper Style="height: 300px;">
    <div @ref="consoleScroll" class="mud-container px-1" style="max-height: 300px; height: 300px; overflow-y: scroll; max-width: 100%; overflow-x: scroll;">
        @foreach(var line in ConsoleLines)
        {
            <MudText Class="mx-0 px-0" Typo="Typo.body2" Style="white-space: pre;">@line</MudText>
        }
    </div>
</MudPaper>

@if (SolveInProgress && displaySpinner)
{
    <div class="d-flex align-center pa-2 mx-2" style="width: 100%;">
        <MudProgressCircular Indeterminate="true"></MudProgressCircular>
    </div>

    <div class="d-flex align-center pa-2 mx-2" style="width: 100%;">
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="CancelSolve" Disabled="solveCancelled">Cancel</MudButton>
    </div>
}
else
{
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="LogicalStep" Disabled="@SolveInProgress" title="Make one logical step towards solving the puzzle.">Step Logically</MudButton>
    </div>
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="LogicalSolve" Disabled="@SolveInProgress" title="Make as many logical steps as possible, potentially solving the puzzle.">Solve Logically</MudButton>
    </div>
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="SolvePuzzle" Disabled="@SolveInProgress" title="Find a solution to the puzzle, if any.">Find Solution</MudButton>
    </div>
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="RandomSolvePuzzle" Disabled="@SolveInProgress" title="Find a random solution to the puzzle, if any.">Find Random Solution</MudButton>
    </div>
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="CountSolutions" Disabled="@SolveInProgress" title="Count the number of solutions to the puzzle.">Count Solutions</MudButton>
        </div>
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="FillRuleCandidates" Disabled="@SolveInProgress" title="Fill candidates based on puzzle rules.&#10;Not all candidates necessarily lead to a solution.&#10;Ignores the &quot;Respect centermarks&quot; option.">Fill Logical Candidates</MudButton>
    </div>
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="FillTrueCandidates" Disabled="@SolveInProgress" title="Fill all candidates which actually lead to a solution.&#10;Useful when the puzzle has multiple solutions.&#10;Ignores the &quot;Respect centermarks&quot; option.">Fill True Candidates</MudButton>
    </div>
    <MudPaper Class="d-flex flex-column align-center pa-2 mx-2">
        <div class="d-flex align-center pa-0 ma-0">
            <MudText Typo="Typo.h6" Align="Align.Center">Respect Non-Givens</MudText>
        </div>
        <div class="d-flex align-center pa-0 ma-0">
            <MudSwitch @bind-Checked="@RespectFilledMarks" Label="Filled Digits" Color="Color.Primary" />
            <MudSwitch @bind-Checked="@RespectCenterMarks" Label="Centermarks" Color="Color.Primary" />
        </div>
    </MudPaper>
}
