@inject IWorkerFactory workerFactory
@inject ISnackbar Snackbar

<MudContainer Style="max-height: 300px; overflow-y: scroll; width: 100%;">
        <MudText Style="white-space: pre-wrap;">@ConsoleText</MudText>
</MudContainer>

@if (SolveInProgress)
{
    <div class="d-flex align-center pa-2 mx-2" style="width: 100%;">
        <MudProgressCircular Indeterminate="true"></MudProgressCircular>
    </div>

    <div class="d-flex align-center pa-2 mx-2" style="width: 100%;">
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="CancelSolve" Disabled="solveCancelled">Cancel</MudButton>
    </div>
}
else
{
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="LogicalSolve" Disabled="@SolveInProgress">Solve Logically</MudButton>
    </div>
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="SolvePuzzle" Disabled="@SolveInProgress">Find Solution</MudButton>
    </div>
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="RandomSolvePuzzle" Disabled="@SolveInProgress">Find Random Solution</MudButton>
    </div>
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="CountSolutions" Disabled="@SolveInProgress">Count Solutions</MudButton>
    </div>
    <div class="d-flex align-center pa-2 mx-2">
        <MudButton Color="Color.Primary" OnClick="FillTrueCandidates" Disabled="@SolveInProgress">Fill True Candidates</MudButton>
    </div>
}
