@inherits ComponentDirtyRender
@inject IJSRuntime JS;

<div @ref="outerDiv">
    <div class="d-flex justify-center">
        <MudTooltip Text="Fill Mode">
            <MudFabExt
                @onmousedown:preventDefault=true
                Class="ma-1 px-2 rounded mode-button"
                Color="@modeButtonColors[(int)MarkMode.Fill]"
                DisableElevation="true"
                Icon="@fillMarkIcon"
                IconSize="Size.Large"
                Size="Size.Large"
                OnClick="@(() => ColorModePressed(MarkMode.Fill))" />
        </MudTooltip>
        <MudTooltip Text="Corner Mode">
            <MudFabExt
                @onmousedown:preventDefault=true
                Class="ma-1 px-2 rounded mode-button"
                Color="@modeButtonColors[(int)MarkMode.Corner]"
                DisableElevation="true"
                Icon="@cornerMarkIcon"
                IconSize="Size.Large"
                Size="Size.Large"
                OnClick="@(() => ColorModePressed(MarkMode.Corner))" />
        </MudTooltip>
        <MudTooltip Text="Center Mode">
            <MudFabExt
                @onmousedown:preventDefault=true
                Class="ma-1 px-2 rounded mode-button"
                Color="@modeButtonColors[(int)MarkMode.Center]"
                DisableElevation="true"
                Icon="@centerMarkIcon"
                IconSize="Size.Large"
                Size="Size.Large"
                OnClick="@(() => ColorModePressed(MarkMode.Center))" />
        </MudTooltip>
        <MudTooltip Text="Coloring Mode">
            <MudFabExt
                @onmousedown:preventDefault=true
                Class="ma-1 px-2 rounded mode-button"
                Color="@modeButtonColors[(int)MarkMode.Color]"
                DisableElevation="true"
                Icon="@Icons.Material.Palette"
                IconSize="Size.Large"
                Size="Size.Large"
                OnClick="@(() => ColorModePressed(MarkMode.Color))" />
        </MudTooltip>
    </div>

    <MudDivider DividerType="DividerType.Middle" Class="my-3"/>

    <div @ref="numpadScroll" class="@NumpadScrollClass">
        @if (currentMarkMode != MarkMode.Color)
        {
            for(int row = 0; row < 3; row++)
            {
                int localRow = row;
                <div class="d-flex justify-center">
                    @for(int i = 1; i <= 3; i++)
                    {
                        int locali = i;
                        int value = localRow * 3 + locali;
                        <MudFab
                            @onmousedown:preventDefault=true
                            Class="ma-1 rounded numpad-button"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            DisableElevation="true"
                            Size="Size.Large"
                            Label="@value.ToString()"
                            Disabled="@IsKeypadDisabled"
                            OnClick="@(() => NumpadButtonPressed(value))" />
                    }
                </div>
            }
        }
        else
        {
            for (int colorIndexIter = 0; colorIndexIter < colors.Count; colorIndexIter += 3)
            {
                int colorIndex = colorIndexIter;
                <div class="d-flex justify-center">
                    @for(int colorSubIndex = 0; colorSubIndex < 3; colorSubIndex++)
                    {
                        int colorFinalIndex = colorIndex + colorSubIndex;
                        if (colorFinalIndex < colors.Count)
                        {
                            <MudFabExt
                                @onmousedown:preventDefault=true
                                title="@colors[colorFinalIndex].Name"
                                Class="ma-1 rounded numpad-button"
                                Style="@colors[colorFinalIndex].Style"
                                DisableElevation="true"
                                Size="Size.Large"
                                Disabled="@IsKeypadDisabled"
                                OnClick="@(() => NumpadButtonPressed(colorFinalIndex + 1))">
                                @if(colorFinalIndex >= 9)
                                {
                                    <MudIconButton
                                        @onmousedown:preventDefault=true
                                        title="Delete Custom Color"
                                        Class="custom-color-close"
                                        Size="Size.Small"
                                        Icon="@Icons.Material.Close"
                                        OnClick="@(() => DeleteCustomColor(colorFinalIndex))" />
                                }
                            </MudFabExt>
                        }
                    }
                </div>
            }
        }
    </div>

    @if (currentMarkMode != MarkMode.Color)
    {
        <div class="d-flex justify-center">
            <MudTooltip Text="Clear Cell Contents">
                <MudFabExt
                    @onmousedown:preventDefault=true
                    Class="ma-1 px-2 rounded numpad-button"
                    Color="Color.Error"
                    DisableElevation="true"
                    Icon="@Icons.Material.Backspace"
                    Size="Size.Large"
                    IconSize="Size.Large"
                    Disabled="@IsKeypadDisabled"
                    OnClick="@(() => NumpadButtonPressed(0))" />
            </MudTooltip>
        </div>
    }
    else
    {
        <div class="d-flex justify-min">
            <MudTooltip Text="Add a custom color">
                <div class="mud-button-root mud-fab mud-ripple mud-fab-disable-elevation ma-1 px-2 rounded numpad-button">
                    <input type="color" class="custom-color-picker" @bind="PickedColor" />
                    <MudIcon class="custom-color-icon" Icon="@Icons.Material.ControlPoint" />
                </div>
            </MudTooltip>
            <MudTooltip Text="Clear Coloring">
                <MudFabExt
                    @onmousedown:preventDefault=true
                    Class="ma-1 px-2 rounded numpad-button"
                    Style="background-color: #ffffff;"
                    DisableElevation="true"
                    Icon="@Icons.Material.Backspace"
                    Size="Size.Large"
                    IconSize="Size.Large"
                    Disabled="@IsKeypadDisabled"
                    OnClick="@(() => NumpadButtonPressed(0))" />
            </MudTooltip>
        </div>
    }

    <MudDivider DividerType="DividerType.Middle" Class="my-3"/>

    <div class="d-flex justify-center">
        <MudTooltip Text="Undo">
            <MudFabExt
                @onmousedown:preventDefault=true
                Class="ma-1 px-2 rounded mode-button"
                Color="Color.Secondary"
                DisableElevation="true"
                Icon="@Icons.Material.Undo"
                Size="Size.Large"
                IconSize="Size.Large"
                Disabled="@IsKeypadDisabled"
                OnClick="@Undo" />
        </MudTooltip>
        <MudTooltip Text="Redo">
            <MudFabExt
                @onmousedown:preventDefault=true
                Class="ma-1 px-2 rounded mode-button"
                Color="Color.Secondary"
                DisableElevation="true"
                Icon="@Icons.Material.Redo"
                Size="Size.Large"
                IconSize="Size.Large"
                Disabled="@IsKeypadDisabled"
                OnClick="@Redo" />
        </MudTooltip>
        <MudTooltip Text="Save Screenshot">
            <MudFabExt
                @onmousedown:preventDefault=true
                Class="ma-1 px-2 rounded mode-button"
                Color="Color.Secondary"
                DisableElevation="true"
                Icon="@Icons.Material.Photo"
                Size="Size.Large"
                IconSize="Size.Large"
                OnClick="@SaveScreenshot" />
        </MudTooltip>
    </div>

</div>
