@inherits ComponentDirtyRender

@inject IJSRuntime JS;
@inject ISnackbar Snackbar

<div class="d-flex flex-column flex-sm-row justify-center">
    <div class="d-flex justify-center mr-5">
        <svg @ref="sudokusvg" class="sudoku" viewBox="0 0 @SudokuConstants.viewboxSize @SudokuConstants.viewboxSize"
            @onmousedown="@MouseDown"
            @onmousemove="@MouseMove"
            @onmouseup="@MouseUp"
            @ontouchstart="@TouchStart"
            @ontouchmove="@TouchMove"
            @ontouchend="@TouchEnd"
            @ontouchcancel="@TouchEnd"
            @onkeydown="@KeyDown"
            @onblur="@FocusLost"
            @onmousedown:preventDefault=true @onmousedown:stopPropagation=true
            @onmousemove:preventDefault=true @onmousemove:stopPropagation=true
            @onmouseup:preventDefault=true @onmouseup:stopPropagation=true
            @onclick:preventDefault=true @onclick:stopPropagation=true
            @oncontextmenu="@((MouseEventArgs e) => {})" @oncontextmenu:preventDefault=true @oncontextmenu:stopPropagation=true
            tabindex="0"
            autofocus
            opacity="1.0"
            xmlns="http://www.w3.org/2000/svg">

            <rect id="rect-sudoku-background" x="0" y="0" width="@SudokuConstants.viewboxSize" height="@SudokuConstants.viewboxSize" fill="#fff" stroke="none" />

            <SudokuColoring @ref="coloring" />

            <SudokuSelection @ref="selection" />

            <SudokuGrid />

            <SudokuValues @ref="values" />

        </svg>
    </div>

    <div class="d-flex flex-column justify-center">
        <SudokuKeypad @ref="keypad"
            NumpadPressedAction = "NumpadKeyPressed"
            UndoPressedAction = "Undo"
            RedoPressedAction = "Redo"
            SaveScreenshotAsyncAction = "SaveScreenshot"
            CustomColorPressedAction ="CustomColorPressed" />
    </div>
</div>
