@inject IJSRuntime JS;

<div @ref="outerDiv">
<div class="d-flex justify-center">
    <MudFab
        @onmousedown:preventDefault=true
        Class="ma-1 px-2 rounded mode-button"
        Color="@modeButtonColors[(int)MarkMode.Fill]"
        DisableElevation="true"
        Icon="@fillMarkIcon"
        Size="Size.Large"
        OnClick="@(() => ColorModePressed(MarkMode.Fill))" />
    <MudFab
        @onmousedown:preventDefault=true
        Class="ma-1 px-2 rounded mode-button"
        Color="@modeButtonColors[(int)MarkMode.Corner]"
        DisableElevation="true"
        Icon="@cornerMarkIcon"
        Size="Size.Large"
        OnClick="@(() => ColorModePressed(MarkMode.Corner))" />
    <MudFab
        @onmousedown:preventDefault=true
        Class="ma-1 px-2 rounded mode-button"
        Color="@modeButtonColors[(int)MarkMode.Center]"
        DisableElevation="true"
        Icon="@centerMarkIcon"
        Size="Size.Large"
        OnClick="@(() => ColorModePressed(MarkMode.Center))" />
    <MudFab
        @onmousedown:preventDefault=true
        Class="ma-1 px-2 rounded mode-button"
        Color="@modeButtonColors[(int)MarkMode.Color]"
        DisableElevation="true"
        Icon="@Icons.Material.Palette"
        Size="Size.Large"
        OnClick="@(() => ColorModePressed(MarkMode.Color))" />
</div>

<MudDivider DividerType="DividerType.Middle" Class="my-6"/>

@for(int row = 0; row < 3; row++)
{
    int localRow = row;
    <div class="d-flex justify-center">
    @for(int i = 1; i <= 3; i++)
    {
        int locali = i;
        int value = localRow * 3 + locali;
        <MudFab
            @onmousedown:preventDefault=true
            Class="ma-1 rounded numpad-button"
            Variant="Variant.Filled"
            Color="Color.Primary"
            DisableElevation="true"
            Size="Size.Large"
            Label="@value.ToString()"
            OnClick="@(() => NumpadButtonPressed(value))" />
    }
    </div>
}

<div class="d-flex justify-center">
    <MudFab
        @onmousedown:preventDefault=true
        Class="ma-1 px-2 rounded numpad-button"
        Color="Color.Error"
        DisableElevation="true"
        Icon="@Icons.Material.Backspace"
        Size="Size.Large"
        OnClick="@(() => NumpadButtonPressed(0))" />
</div>
</div>
